<mat-card class="card">
    <mat-card-header>
        <!-- <div mat-card-avatar class=""></div> -->
        <mat-card-title>{{beer.name}}</mat-card-title>
        <mat-card-subtitle>{{beer.abv}}%</mat-card-subtitle>
        <span class="spacer"></span>
        <mat-icon *ngIf="{fav : isFavorite$ | async } as data"
                    (click)="toggleFavorites();"
                    class="pointer"
                    appClickStopPropagation
        >
            {{data.fav ? 'favorite' : 'favorite_outline'}}</mat-icon>
    </mat-card-header>
    <img mat-card-image [src]="beer.image_url" >
    <mat-card-content>
        <ng-content></ng-content>
    </mat-card-content>
</mat-card>