:host.modal {
    .card {
        margin: 0 auto;
        overflow: auto;
        max-width: 600px;
        max-height: 600px;

        img {
            max-height: 200px;
        }
    }
}

.card {
    height: calc(100% - 32px);
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
    

    .mat-icon {
        min-width: 24px;
    }

    img{
        object-fit: contain;
        width: 100%;
        height: calc(100% - 70px);;
    }
}
